.co-markdown-view {
  &.is-empty {
    color: #999;
  }
  table {
    display: block;
    margin-bottom: 11.5px;
    overflow-x: auto;
  }
  td,
  th {
    border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--300);
    padding: 10px;
    vertical-align: top;
  }
  th {
    padding-top: 0;
  }
}
